<<<<<<< HEAD

=======
>>>>>>> 75ec82ba21b09773cc59059b6781dbfe73785aef
// Body
$body-bg: #f8fafc;

// Typography
<<<<<<< HEAD
$font-family-sans-serif: "Nunito", sans-serif;
=======
$font-family-sans-serif: 'Nunito', sans-serif;
>>>>>>> 75ec82ba21b09773cc59059b6781dbfe73785aef
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
<<<<<<< HEAD
$pink: #f66D9b;
=======
$pink: #f66d9b;
>>>>>>> 75ec82ba21b09773cc59059b6781dbfe73785aef
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
